#slideShow {
	width: 100%;
	height: 800px;
	background-image: url("google-oc-rapt-studio-office-design-5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0, auto;
	margin-top: 60px;
	/*opacity: 0.5;*/
}
